/*#region initial css junk*/
@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1; } 
}
#fadein {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFFFFF;
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; 
}

/* resets from https://piccalil.li/blog/a-more-modern-css-reset/ *
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/*#endregion*/

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0;
}
body.dark {
  background-color: #696969;
  color: beige;
}
header {
    width: 100%;
    background-color: #0099f7;
}
main {
    padding: 0 1rem;
    max-width: 800px;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #0099f7;

}
a.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 10px;
}

#game-events {
  line-height: 0.5;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

#motion-path-example-span {
    width: 100px;
    height: 140px;
    /* background-color: red; */
    color: white;
    background-image: url('../static/blue.png');
    background-size: contain;
    position: absolute;
    border: 1px solid black;
    margin: 15px;
    text-align: center;
    /* clip-path: rect(50px 70px 80% 20%); */
    offset-path: path(
      "M0,0 C2,8 80,400 500,500"
    );
    /*offset-rotate: auto;*/
    animation: example2 6s infinite linear forwards;
}

spinning-card,
playing-card {
  width: 99px;
  height: 140px;
  /* background-color: red; */
  color: white;
  background-image: url('../static/blue.png');
  background-size: contain;
  position: absolute;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  /* clip-path: rect(50px 70px 80% 20%); */
  offset-path: path(
    "M0,0 C2,8 80,400 500,500"
  );
  /*offset-rotate: auto;*/
  animation: example2 6s linear forwards;
  transition: offset-rotate cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow: hidden;
}

@keyframes example2 {
    0% {
      opacity: 1;
      offset-distance: 0%;
    }
  
    10% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      offset-distance: 100%;
    }
  }

.hidden {
  display: none;
} 

/* game screen stuff */
#player-cards {
  display: flex;
  gap: 5px;
}
.player-card-container {
  background: url('../static/blue.png');
  background-size: contain;
}
.playing-card {
  display: inline;
  max-width: 4rem;
  vertical-align: top;

}

.playing-card.player {
  opacity: 0;
  transition: opacity 0.7s;
  &:hover {
    opacity: 1;
  }
}

.playing.card.community {

}